<ion-header *ngIf="typeOfPage == 'CATEGORY' || typeOfPage == 'PRODUCTS' " class="category-header">
  <ion-navbar hideBackButton>
    <ion-buttons left>
      <button ion-button icon-only (click)="goBack()"><img src="./assets/imgs/button_back.png" /></button>
    </ion-buttons>
    <ion-buttons end>
      <button ion-button icon-only (click)="goMain()"><img src="./assets/imgs/button_home.png" /></button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content class="category-content">
  <img [src]="isDataFromServer ? backgroundImage : backgroundImageData" class="background-image" [hidden]="!backgroundImage && !backgroundImageData" />
  
  <ion-scroll scrollY>
    <div [class]="typeOfPage == 'MAIN CATEGORY' ? 'header-div header-div-level-0' : 'header-div header-div-level-1'">
      <img [src]="isDataFromServer ? headerImage : headerImageData" [hidden]="!headerImage && !headerImageData" />
    </div>
    
    <div class="content-body">
      <ion-row *ngFor="let items of categories" [class]="typeOfPage == 'MAIN CATEGORY' ? 'level0-row level-row row' : typeOfPage == 'CATEGORY' ? 'level1-row level-row row' : 'level2-row level-row row'">
        <ion-col *ngFor="let item of items" (click)="goToCategoryPage(item.pageLink)" [class]="typeOfPage == 'PRODUCTS' ? 'level2-category-col col' : 'level0-category-col col'" text-center>
          <div *ngIf="typeOfPage != 'PRODUCTS'">
            <img [src]="isDataFromServer ? item.categoryImage : item.categoryImageData" class="category-image" />
          </div>
          <div *ngIf="typeOfPage == 'PRODUCTS'" class="item-content">
            <img [src]="isDataFromServer ? item.categoryImage : item.categoryImageData" class="category-image" />
            <h2 class="item-content-title">{{ item.productHeading }}</h2>
            <div class="item-content-price-row">
              <div class="item-content-price">
                <p>{{ item.productPrice1Heading }}</p>
                <p>{{ item.productPrice1 }}</p>
              </div>
              <div class="item-content-price">
                <p>{{ item.productPrice2Heading }}</p>
                <p>{{ item.productPrice2 }}</p>
              </div>
            </div>
            <div class="button-row">
              <button ion-button (click)="openModal(item)">More Info</button>
            </div>
          </div>
        </ion-col>
      </ion-row>
    </div>
  </ion-scroll>
</ion-content>
